@font-face {
  font-family: Mont;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/Mont-Trial-Regular.woff2) format('woff2'),
    url(../fonts/Mont-Trial-Regular.woff) format('woff');
}

@font-face {
  font-family: Mont;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/Mont-Trial-Bold.woff2) format('woff2'),
    url(../fonts/Mont-Trial-Bold.woff) format('woff');
}

@font-face {
  font-family: Mont;
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/Mont-Trial-SemiBold.woff2) format('woff2'),
    url(../fonts/Mont-Trial-SemiBold.woff) format('woff');
}

@font-face {
  font-family: Mont;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/Mont-Trial-BoldItalic.woff2) format('woff2'),
    url(../fonts/Mont-Trial-BoldItalic.woff) format('woff');
}

@font-face {
  font-family: Mont;
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/Mont-Trial-HeavyItalic.woff2) format('woff2'),
    url(../fonts/Mont-Trial-HeavyItalic.woff) format('woff');
}

*, ::after, ::before {
  box-sizing: border-box;
}

h2 {
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
}


html,
body {
  margin: auto;
  padding: 0 0.5rem ;
  height: 100%;
  width: 100%;
  background-color: #eff0f0;
  font-family: Mont, Arial, sans-serif;
}
