@font-face {
  font-family: Mont;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/regular.woff2) format('woff2'),
    url(../fonts/regular.woff) format('woff');
}

@font-face {
  font-family: Mont;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/bolditalic.woff2) format('woff2'),
    url(../fonts/bolditalic.woff) format('woff');
}

@font-face {
  font-family: Mont;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/semibold.woff2) format('woff2'),
    url(../fonts/semibold.woff) format('woff');
}

@font-face {
  font-family: Mont;
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/heavyitalic.woff2) format('woff2'),
    url(../fonts/heavyitalic.woff) format('woff');
}


@font-face {
  font-family: Icons;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/l1icons-2022.woff2) format("woff2"),
  url(../fonts/l1icons-2022.woff) format("woff");
}

/*
.ico-fussball{
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Icons,sans-serif!important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  padding-left: 1px;
  text-transform: none
}

.ico-fussball:before {
  display: inline-block;
  width: 1em
}
*/


*, ::after, ::before {
  box-sizing: border-box;
}

h2 {
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
}


html,
body {
  margin: auto;
  padding: 0 0.5rem ;
  height: 100%;
  width: 100%;
  background-color: #eff0f0;
  font-family: Mont, Arial, sans-serif;
}
