a {
  display: block;
  text-decoration: none;
}
.sport-section {
  h2 {
    text-align: center;
  }
}

.country-section {
  margin: 1rem;
  max-width: 932px;
  margin: auto;

  &__padding {
    margin: 1rem;
    box-shadow: rgb(28 29 29 / 8%) 0 0.75em 1.5em;
    border-radius: 4px;
    overflow: hidden;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }

  &__title {
    background-color: #1c1d1d;
    color: white;
    padding: 13px 0 13px 16px;
    margin: 0px;
  }

  &__item {
    display: flex;
    align-items: center;
    color: #161615;
    border-bottom: 1px solid #eff0f0;
    font-weight: bold;
    background-color: #fff;
    display: flex;
    width: 100%;

    &:last-child:nth-child(odd) {
      width: 100%;
    }

    &:hover {
      background-color: #eff0f0;
    }

    img {
      width: 100px;
      padding: 6px 26px 6px 30px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .country-section__item {
    width: 50%;
  }
}
