html {
  height: 100%;
  width: 100%;
  background-color: #eff0f0;
}

a {
  display: block;
  text-decoration: none;
}
.sport-section {
  h2 {
    text-align: center;
  }
}

.country-section {
  margin: 1rem;
  box-shadow: rgb(28 29 29 / 8%) 0 0.75em 1.5em;
  max-width: 932px;
  margin: auto;
  padding: 1rem;

  &__box {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }

  &__title {
    background-color: #1c1d1d;
    color: white;
    border-radius: 4px 4px 0px 0px;
    padding: 0.5rem;
    margin: 0px;
  }

  &__item {
    display: flex;
    align-items: center;
    color: #161615;
    border-bottom: 1px solid #eff0f0;
    padding: 10px 15px;
    font-weight: bold;
    background-color: #fff;
    display: flex;
    width: 466px;
    border: solid;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }

    img {
      width: 50px;
      padding-right: 26.3px;
    }
  }
}
