body {
  background-color: #eff0f0;
  overflow-x: clip;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #bdcac0;
  border-radius: 8px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #bdcac0;
}
.country-section {
  box-shadow: rgb(28 29 29 / 8%) 0 0.75em 1.5em;
  max-width: 932px;
  margin: auto;
  //padding: 1rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

.centered {
  text-align: center;
}

.round {
  border-radius: 4px;
}

.shadow {
  box-shadow: rgb(28 29 29 / 8%) 0 0.75em 1.5em;
}

.breadcrumbs {
  display: flex;
  padding: 2px;
  color: #909090;
  font-weight: 600;
  font-size: 14px;

  * {
    padding: 5px;
  }

  a {
    color: #909090;
  }
  &__arrow{
    font-weight: 900;;
  }
}

.match-picker {
  display: flex;
  font-size: 13px;
  align-items: center;
  flex-direction: column;

  &__title {
    background-color: #111215;
    color: #ffffff;
    border-radius: 4px;
    // padding: 15px 0;
    
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__options {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;

    scrollbar-width: thin;
    display: flex;

    * {
      margin: 0.25rem;
    }
  }

  &__item {
    border-radius: 4px;
    background-color: #ffffff;
    min-width: 230px;
    min-height: 80px;
    // padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    &content{
      flex-direction: column;
      align-items: center;
      display: flex;
      color: black;
    }

    img{
      width: 20px;
      height: 20px;
    }
    &:hover {
      background-color: #eff0f0;
    }
    
  }
  &--smallred {
    color: red;
    &live {
      z-index: 1;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      margin-right: 4px;
      order: 2;
      position: relative;
      top: 0;
      min-width: 35px;

      &::before {
        background-color: red;
        border-radius: 4px;
        bottom: 0;
        content: 'Live';
        display: block;
        height: 21px;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transform: skewX(-8deg);
        transform: skewX(-8deg);
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right;
        min-width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 13px;
        font-style: italic;
        font-weight: 700;
        line-height: 21px;
        padding: 0 0.2rem;
        text-transform: uppercase;
      }
    }
    &bold {
      font-weight: 900;
      font-size: 20px;
      text-align: center;
    }
    &thin{
      font-size: 16px;
      font-weight: 600;
    }
  }
  &--smallgrey {
    text-align: center;
    &bold {
      font-size: 15px;
      font-weight: bold;
      //padding: 5px;
      color: black;
    }

    &time {
      font-size: 13px;
      font-weight: 600;
      color: #909090;
    }
  }
}

.arrow {
  display: none;
}

.league {
  &__titlebox {
    overflow: clip;
  }

  &__title {
    background: transparent
      linear-gradient(
        104deg,
        #292a2a 0%,
        #000000 50%,
        #292a2a 50%,
        #111215 100%
      )
      0% 0% no-repeat padding-box;
    color: white;
    padding: 5px 0 20px 0;
  }

  &__menu {
    background: #1c1d1d 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      color: white;
    }

    img {
      width: 20px;
      height: 20px;
    }

    &item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding: 10px 30px;
      width: 100%;
      
      &:hover {
        background-color: black;
        width: 100%;
      }
      &text {
        padding-left: 10px;
      }
      
    }
  }

  &__item {
    color: black;
    display: flex;
    // align-content: space-between;
    align-items: center;
    // justify-items: space-between;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    margin: 12px 0;
    padding: 15px 20px 15px 30px;

    &home {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100px;
    }

    &away {
      display: flex;
      align-items: center;
      max-width: 100px;
      &inner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }

      .arrow {
        padding-left: 50px;
      }
      
    }

    img {
      width: 30px;
    }
    &:hover {
      background-color: #eff0f0;
    }
  }
  &__item {
    &--red {
      color: red;
      &live {
        z-index: 1;

        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        margin-right: 4px;
        order: 2;
        position: relative;
        top: 0;
        min-width: 71px;

        &::before {
          background-color: red;
          border-radius: 4px;
          bottom: 0;
          content: 'Now Live';
          display: block;
          height: 21px;
          position: absolute;
          right: 0;
          top: 0;
          -webkit-transform: skewX(-8deg);
          transform: skewX(-8deg);
          -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
          min-width: 100%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          font-size: 13px;
          font-style: italic;
          font-weight: 700;
          line-height: 21px;
          padding: 0 0.2rem;
          text-transform: uppercase;
        }
      }
      &bold {
        font-weight: 900;
        font-size: 40px;
      }
      &thin{
        font-size: 16px;
        font-weight: 600;
      }
    }

    &--grey {
      &till {
        color: #909090;
        font-size: 14px;
        font-weight: 600;
      }

      &bold {
        font-size: 18px;
        font-weight: bold;
        padding: 13px;
      }

      &time {
        font-size: 16px;
        font-weight: 600;
      }
    }

    &--black {
      &till {
        color: #909090;
        font-size: 14px;
        font-weight: 600;
      }

      &bold {
        font-weight: 900;
        font-size: 40px;
      }
      &thin{
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

}

@media only screen and (min-width: 660px) {
  .arrow {
    display: block;
  }

  .match-picker {
    flex-direction: row;
    //width: 100%;
    
    &__title {
      height: 90px;
      max-width: 330px;;
    }

    &__options {
      //width: 100%;
      //min-width: 400px;
    }
    &__item {
      min-width: 280px;
      background-color: white;
    }
  }

  .league {
    &__menu {
      flex-direction: row;
      justify-content: space-around;

      &item {
        flex-direction: row;
      }
    }
    &__item {
      // padding: 22px 20px 22px 50px;
      height: 130px;

      &home {
        max-width: 100%;
        flex-direction: row;
        &text {
          padding: 10px;
        }
      }

      &away {
        max-width: 100%;
        &inner {
          flex-direction: row;
        }
        &text {
          padding: 10px;
        }
      }

    }
  }
}
