body {
  background-color: #eff0f0;
  overflow-x: clip;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #bdcac0;
  border-radius: 8px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bdcac0;
}

.country-section {
  box-shadow: rgba(28, 29, 29, 0.08) 0 0.75em 1.5em;
  max-width: 932px;
  margin: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

.centered {
  text-align: center;
}

.round {
  border-radius: 4px;
}

.shadow {
  box-shadow: rgba(28, 29, 29, 0.08) 0 0.75em 1.5em;
  overflow: clip;
}

.breadcrumbs {
  display: flex;
  padding: 2px;
  color: #909090;
}
.breadcrumbs * {
  padding: 5px;
}
.breadcrumbs a {
  color: #909090;
}

.match-picker {
  display: flex;
  font-size: 13px;
  align-items: center;
  flex-direction: column;
}
.match-picker__title {
  background-color: #111215;
  color: #ffffff;
  border-radius: 4px;
  width: 100%;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.match-picker__options {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: thin;
  display: flex;
}
.match-picker__options * {
  margin: 0.25rem;
}
.match-picker__item {
  border-radius: 4px;
  background-color: #ffffff;
  min-width: 230px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.match-picker__itemcontent {
  flex-direction: column;
  align-items: center;
  display: flex;
  color: black;
}
.match-picker__item img {
  width: 20px;
  height: 20px;
}
.match-picker__item:hover {
  background-color: #eff0f0;
}
.match-picker--smallred {
  color: red;
}
.match-picker--smallredlive {
  order: 2;
  position: relative;
  top: 0;
  height: 21px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.match-picker--smallredlive::before {
  background-color: red;
  border-radius: 4px;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  transform: skewX(-8deg);
  transform-origin: bottom right;
  min-width: 100%;
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 13px;
  font-style: italic;
  font-weight: 700;
  line-height: 21px;
  padding: 0 0.2rem;
}
.match-picker--smallredlivespan {
  position: relative;
  display: flex;
  color: white;
  font-size: 12px;
}
.match-picker--smallredbold {
  font-weight: 900;
  font-size: 20px;
  text-align: center;
}
.match-picker--smallredthin {
  font-size: 16px;
  font-weight: 600;
}
.match-picker--smallgrey {
  text-align: center;
}
.match-picker--smallgreybold {
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.match-picker--smallgreytime {
  font-size: 13px;
  font-weight: 600;
  color: #909090;
}

.arrow {
  display: none;
}

.league__titlebox {
  overflow: clip;
}
.league__title {
  background: transparent linear-gradient(104deg, #292a2a 0%, #000000 50%, #292a2a 50%, #111215 100%) 0% 0% no-repeat padding-box;
  color: white;
  padding: 5px 0 20px 0;
}
.league__title .picked-match {
  display: flex;
  font-size: 13px;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.league__title .picked-match__item {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.league__title .picked-match__itemcontent {
  flex-direction: column;
  align-items: center;
  display: flex;
  color: white;
}
.league__title .picked-match__item img {
  width: 20px;
  height: 20px;
}
.league__title .picked-match--smallred {
  color: white;
}
.league__title .picked-match--smallredlive {
  order: 2;
  position: relative;
  top: 0;
  height: 21px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.league__title .picked-match--smallredlive::before {
  background-color: red;
  border-radius: 4px;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  transform: skewX(-8deg);
  transform-origin: bottom right;
  min-width: 100%;
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 13px;
  font-style: italic;
  font-weight: 700;
  line-height: 21px;
  padding: 0 0.3rem;
}
.league__title .picked-match--smallredlivespan {
  position: relative;
  display: flex;
}
.league__title .picked-match--smallredbold {
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
.league__title .picked-match--smallredthin {
  font-size: 14px;
  font-weight: 400;
  color: grey;
}
.league__title .picked-match--smallgrey {
  text-align: center;
}
.league__title .picked-match--smallgreybold {
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.league__title .picked-match--smallgreytime {
  font-size: 13px;
  font-weight: 600;
  color: #909090;
}
.league__title .picked-match__goals {
  display: flex;
  padding-top: 30px;
}
.league__title .picked-match__goalsleft, .league__title .picked-match__goalsright {
  color: #909090;
  display: flex;
  flex-direction: column;
}
.league__title .picked-match__goalsleftcontent, .league__title .picked-match__goalsrightcontent {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.league__title .picked-match__goalscenter {
  font-size: 15px;
  padding: 0 25px;
}
.league__title .picked-match__goals img {
  width: 20px;
  height: 20px;
  margin: 0 8px;
}
.league__title .picked-match__goalsspan {
  padding: 5px;
  color: #cdcdcd;
}
.league__menu {
  background: #1c1d1d 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.league__menu a:not(.league__menuitemred) {
  color: white;
}
.league__menu img {
  width: 20px;
  height: 20px;
}
.league__menuitem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px 30px;
  width: 100%;
}
.league__menuitem:hover {
  background-color: black;
  width: 100%;
}
.league__menuitemtext {
  padding-left: 10px;
}
.league__menuitemred {
  color: red;
}

.info__gameplace {
  background-color: white;
  margin: 15px 0;
  padding: 20px;
}
.info__gameplacetitle {
  font-size: 18px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
}
.info__gameplacetitle img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.info__gameplacecontent {
  font-weight: 400;
  padding: 1rem;
}
.info__gameplacecontent img {
  width: 300px;
  height: 300px;
}
.info__box {
  margin: 15px 0;
  background-color: white;
  padding: 20px;
}

.previous {
  text-align: center;
}
.previous__title {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #1c1d1d;
  color: white;
}
.previous__title img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.previous__menu {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #434343;
  color: white;
}
.previous__menuleft {
  width: 50%;
}
.previous__menuright {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.previous__item {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  align-items: center;
}
.previous__item:nth-child(odd) {
  background-color: #eff0f0;
}
.previous__item:nth-child(even) {
  background-color: white;
}
.previous__itemleft, .previous__itemright {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.previous__item img {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 660px) {
  .arrow {
    display: block;
  }
  .match-picker {
    flex-direction: row;
  }
  .match-picker__title {
    height: 90px;
    max-width: 330px;
  }
  .match-picker__item {
    min-width: 280px;
    background-color: white;
  }
  .league__menu {
    flex-direction: row;
    justify-content: space-around;
  }
  .league__menuitem {
    flex-direction: row;
  }
  .league__menuitemred {
    border-bottom: 6px solid red;
  }
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  .info__gameplace {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .info__box:nth-child(1) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}/*# sourceMappingURL=page3.css.map */